{% extends 'modelo.html' %}

{% load static %}



{% block conteudo %}
<div class="lista-form">
    <h3>{{titulo}}</h3>
    <p class="lead">
        Confirme {{titulo2}} para excluir definitivamente.
    </p>

    <hr>

    <form action="" method="POST">

        <p>
            Deseja excluir {{titulo2}}: <strong>{{ object }}</strong>?
        </p>

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-danger">Excluir</button>

        
    </form>
</div>


{% endblock %}