{% extends 'modelo.html' %}

{% load static %}
{% load filtros %}

{% block titulo %}
<title>Pesquisar Teste</title>
{% endblock %}

{% block conteudo %}
<div class="testeLogin">
    <section>
        <h2 class="border-custom-primary">Responder um teste</h2>

        <p class="text-secondary">
            Informe corretamente a chave de acesso do teste informados pelo seu professor.
        </p>
        <form action="">
            <label for="codigo" style="width: 100%;">Chave de acesso:</label>
            <input type="text" id="chave" required>
            
            <button type="submit" class="btn bg-color-custom-primary" id="btnSubmit">Iniciar teste</button>
            
        </form>
    </section>
</div>



{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        
        var url = "{% url 'teste-ils-kolb' 'abc' %}";

        $("form").submit(function (e) { 
            e.preventDefault();

            //var codigo = $("#codigo").val().trim();
            var chave = $("#chave").val().trim();

            if(chave == ""){
                alert("Preencha corretamente a Chave do teste.");
                return false;
            }

            var url_final = url.replace('abc', chave)
            window.location.href = url_final;

        });
    });
</script>
{% endblock %}