{% extends 'modelo.html' %}

{% load static %}
{% load filtros %}

{% block titulo %}
<title>Resposta</title>
{% endblock %}

{% block conteudo %}
<div class="feedback">
    <div class="top">
        <h2 class="title border-custom-primary"> {{questionario}} </h2>

            <form action="" method="POST" class="info">                

                <canvas id="myChart" style="max-width: 600px; max-height: 600px;"></canvas>

                

                <div class="container-fluid">
                    <p class="type">Você é um <strong>{{estilo}}</strong></p>

                    <p class="wayLearning">E sua forma de aprender é por <strong>{{forma1}}</strong> e <strong>{{forma2}}</strong></p>

                    <h2 class="desc-title">Descrição do estilo e forma de aprender </h2>
                    <p class="desc-text">{{desc_estilo}}</p>

                    <h2 class="desc-title">Recomendações do estilo e forma de aprender</h2>
                    <p class="desc-text">{{rec_estilo}}</p>
                </div>
            </form>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
    $(document).ready(function () {
        
        var ctx = $('#myChart');

        var dados = {
            labels: ['Experiência Concreta', 'Observação Reflexiva', 'Concentuação Abstrata', 'Experimentação Ativa'],
            datasets: [
                { // Aqui vai os dados da pessoa
                    label: 'Seu estilo',
                    data: [{{ EC }}, {{ OR }}, {{ CA }}, {{ EA }}],
                    fill: true,
                    backgroundColor: 'rgba(241, 194, 0, 0.2)',
                    borderColor: 'rgb(241, 194, 0)',
                    pointBackgroundColor: 'rgb(241, 194, 0)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(241, 194, 0)'
                }
            ] // fim dos conjuntos
        };

        var config = {
            scale: {
                ticks: {
                    beginAtZero: true,
                    min: 0,
                    stepSize: 5,
                    // max: 100,
                },
                pointLabels: {
                    fontSize: 13
                }
            },
        };

        var myChart = new Chart(ctx, {
            type: 'radar',
            data: dados,
            options: config,
        });

    });
    // var myChart = new Chart(ctx, { ...});
</script>

{% endblock %}