{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="lista">
    <div class="tableHead">
        <h3>Lista de opções registradas</h3>
        {% if request.user.groups.all.0.name == 'Administrador'  %}
        <a href="{% url 'cadastrar-opcao' %}" class="btn btn-primary btn-sm">Adicionar Opção</a>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Questão</th>
                    <th>Descrição</th>
                    <th>Ordem</th>
                    <th>Forma Aprend.</th>
                    {% if request.user.groups.all.0.name == 'Administrador'  %}
                    <th>Opções</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for opcao in object_list %}
                <tr>
                    <td>{{opcao.questao.ordem}} - {{ opcao.questao.descricao }}</td>
                    <td>{{ opcao.descricao }}</td>
                    <td>{{ opcao.ordem }}</td>
                    <td>{{ opcao.forma_aprendizagem }}</td>
                    {% if request.user.groups.all.0.name == 'Administrador'  %}
                    <td>
                        <a href="{% url 'editar-opcao' opcao.pk %}" class="btn btn-table btn-sm" title="Editar">
                            <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'excluir-opcao' opcao.pk %}" class="btn btn-table btn-sm" title="Excluir">
                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                        </a>
                        
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <td colspan="3">Nenhuma opcao registrada.</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>

{% endblock %}