{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
    <h3>Lista de tentativas registradas</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Teste</th>
                    <th>Quem respondeu</th>
                    <th>Turma</th>
                    <th>Data</th>
                    <th>Opção</th>
                </tr>
            </thead>
            <tbody>
                {% for tentativa in object_list %}
                <tr>
                    <td>{{tentativa.teste.descricao}}</td>
                    <td>{{tentativa.usuario|default_if_none:tentativa.usuario}}</td>
                    <td>{{tentativa.turma}}</td>
                    <td>{{tentativa.data}}</td>
                    <td>
                        <a href="{% url 'relatorio-aluno' tentativa.pk %}" class="btn btn-info btn-sm" title="Resposta">
                            <i class="fas fa-chart-bar" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'pdfAluno-detail' tentativa.pk %}" class="btn btn-info btn-sm" title="PDF">
                            <i class="fas fa-download" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <td colspan="3">Nenhuma tentativa registrada.</td>
                {% endfor %}
            </tbody>
        </table>
    </div>

     

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>

{% endblock %}