{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
    <h3>Lista de testes registrados</h3>
    <a href="{% url 'cadastrar-teste' %}" class="btn btn-primary btn-sm">Adicionar Teste</a>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Professor</th>
                    <th>Questionário</th>
                    <th>Turma</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>chave de Acesso</th>
                    <th>Ativo</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for teste in object_list %}
                <tr>
                    <td>{{teste.descricao}}</td>
                    <td>{{teste.professor}}</td>
                    <td>{{teste.questionario.descricao}}</td>
                    <td>{{teste.turma}}</td>
                    <td>{{teste.data}}</td>
                    <td>{{teste.hora}}</td>
                    <td>{{teste.chave_acesso}}</td>
                    <td>{{teste.ativo}}</td>
                    <td>
                        <a href="{% url 'editar-teste' teste.pk %}" class="btn btn-warning btn-sm" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'excluir-teste' teste.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <td colspan="3">Nenhum teste registrado.</td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>

{% endblock %}