/*pre sets*/

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}

.color-custom-primary {
  color: #ffcc44 !important;
}

.color-custom-primary-hover:hover {
  color: #ffcc44 !important;
}

.bg-color-custom-primary {
  background-color: #ffcc44;
}

.bg-color-custom-primary-gradient {
  background: rgb(255, 204, 68);
  background: linear-gradient(
    180deg,
    rgba(255, 204, 68, 1) 55%,
    rgba(255, 255, 255, 1) 95%
  );
}

.border-custom-primary {
  border: 2px solid #ffcc44;
  color: #ffcc44;
  transition: background 0.8s;
}

.border-custom-primary-color {
  border-color: #ffcc44 !important;
}

.border-custom-primary-color-bottom {
  border-bottom-color: #ffcc44 !important;
}

.border-custom-primary-full {
  background-color: #ffcc44 !important;
  color: #fff !important;
}

.main-title {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  border-left: 3px solid #ffcc44;
  margin-bottom: 20px;
}

.main-title h1 {
  font-size: 1.2rem;
  margin-left: 35px;
  margin-bottom: 0;
}

.btn-two {
  min-width: 100px;
  max-width: 200px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto 0;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
  background: #999;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.navbar-toggler {
  border: none;
}

.teste-resp {
  display: none;
}

/*index*/
.span-texto {
  color: #5f5f5f;
  font-size: 1.2rem;
  padding: 50px 10px;
  text-align: justify;
}
.menu-itens .menu-itens-ul {
  display: flex;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
}

.menu-itens-ul li {
  margin-right: 5px;
}

.menu-itens-ul li a,
.nav-link:focus {
  color: #5f5f5f;
}

.main-menu {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  padding: 0 !important;
  z-index: 5;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.main-menu .logo {
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 75px;
  cursor: pointer;
}

.main-menu .container-fluid {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-menu .container-fluid .navbar-toggler,
.main-menu .container-fluid #navbarSupportedContent {
  height: 100%;
}

#navbarSupportedContent .nav-item {
  line-height: 40px;
  padding: 0 20px;
  text-align: center;

  background: #fff;
}

#navbarSupportedContent .nav-item a {
  color: #5f5f5f;
}

.main-menu .container-fluid {
  display: flex;
  align-items: center;
  border-radius: 15px 0 0 15px;
  background: #fff;
}

.login-nav,
.quiz-nav {
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
}
ul#login-nav{
    margin: 0 25px!important;
}
.quiz-nav {
  margin-left: auto;
}

#username {
  text-transform: capitalize;
}

.cover {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 2;
}

.main-content {
  position: relative;
  z-index: 3;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.welcome-main {
  width: 65%;
}

.welcome-aside {
  width: 32.5%;
}

.welcome-block {
  display: flex;
  column-gap: 2.5%;
  height: 600px;
}

.welcome-block .container {
  display: flex;
  align-items: center;
}

.welcome-block .img-cover {
  height: 85%;
  margin-left: auto;
  display: block;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.welcome-info h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.welcome-info p {
  font-size: 0.9;
  opacity: 0.8;
}

.btn-welcome {
  width: 200px;
  height: 60px;
  background: #FFF;
  border-radius: 8px;
}

.carousel-inner {
  border-radius: 5px !important;
}

.card-container {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.card-container:last-of-type {
  margin-bottom: 0;
}

.card-icon {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
}

.card-icon i {
  font-size: 1.5rem;
  color: #fff;
}

.card-info {
  padding: 0 15px;
}

.card-info h2 {
  font-size: 1rem;
  margin-bottom: 2.5px;
}

.card-info span {
  opacity: 0.8;
}

.welcome-aside .card-container {
  background: #fff;
  color: #ffcc44;
  height: 100px;
  margin-bottom: 15px;
}

.welcome-aside .card-info {
  width: 100%;
  text-align: center;
}

.info-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  margin-top: 200px;
  padding-bottom: 100px;
}

.show-off-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4%;
  width: 100%;
  margin-bottom: 90px;
}

.show-off-title h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
}

.show-off-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20%;
}

.show-off-icon-right i:nth-of-type(1),
.show-off-icon-left i:nth-of-type(3) {
  font-size: 1.4rem;
}

.show-off-icon-right i:nth-of-type(2),
.show-off-icon-left i:nth-of-type(2) {
  font-size: 1.15rem;
}

.show-off-icon-right i:nth-of-type(3),
.show-off-icon-left i:nth-of-type(1) {
  font-size: 0.9rem;
}

.info-section ul {
  list-style: none;
}

.info-section li {
  font-size: 1.4rem;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.info-section li span {
  opacity: 0.85;
}

.info-section li::before {
  content: "";
  width: 20px;
  height: 25px;
  font-size: 1rem;
  background-color: #ffcc44;
  padding: 0px 12.5px;
  margin-right: 35px;
  border-radius: 5px;
}

.metrics {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.metrics .info-block-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}
.card-container {
  /*Alterações para fazer os dois graficos*/
  max-width: 400px;
  width: 20%;
  min-width: 300px;
}

.info-block-statics {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  margin-left: 0;
  display: flex;
  width: auto;
}

.chart {
  width: 500px;
}

.testemonials {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-count: 20%;
}

.testemonials .left {
  width: 35%;
}

.testemonials .left,
.testemonials .right {
  width: 45%;
}

.testemonials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.testemonials-item:hover {
  transform: scale(1.1);
}

.testemonials-item-active {
  transform: scale(1) !important;
}

.testemonials-item-active {
  border: 1px solid rgba(254, 204, 0, 0.35);
  box-shadow: 1px 1px 5px 1px rgba(254, 204, 0, 0.35);
}

.testemonials-item .photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testemonials-item .photo img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.testemonials-item .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testemonials-item .info h2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.testemonials-item .info p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0;
}

.testemonials .right h1 {
  font-size: 1.25rem;
}

.testemonials-stars {
  margin-bottom: 25px;
}

.testemonials-stars i {
  color: #e9af4a;
}

.testemonials .hidden {
  display: none;
  visibility: hidden;
}

.page-footer {
  filter: brightness(95%);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  padding: 30px 0;
}

.page-footer .left {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15%;
}

.page-footer .left .icone {
  width: 125px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.page-footer .left p {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-bottom: 0;
}

.page-footer .right {
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 5%;
}

.page-footer .right .column {
  width: 175px;
}

.page-footer .column h4 {
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
  color: rgb(78, 78, 78);
}

.page-footer .column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer .column li {
  font-size: 0.9rem;
  opacity: 0.7;
  cursor: pointer;
  margin-bottom: 2.5px;
}

.page-footer .column .list-group-item {
  background: rgba(255, 255, 255, 0.1);
}

.page-footer .column .list-group a {
  text-decoration: none;
  font-size: 1rem;
  color: #2b2b2b;
}

/*Login*/
.form-screen {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-form {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: none;
  border-style: solid;
}

.form-description {
  font-size: 0.9rem;
  opacity: 0.9;
}

@media screen and (max-width: 1070px) {
  .page-footer .right {
    flex-wrap: wrap;
    justify-content: initial;
  }
  .page-footer .right .column {
    margin-bottom: 25px;
  }
  .page-footer .left {
    column-gap: 15%;
    margin: 0 10%;
  }
  .page-footer {
    column-gap: 5%;
  }
}

@media screen and (max-width: 992px) {
  .main-menu .logo {
    display: none;
  }
  .menu-itens {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
    z-index: -1;
    transform: translateY(-105%);
  }
  .menu-itens-ul {
    flex-direction: column;
    text-align: center;
  }
  .menu-itens-ul li {
    height: 50px;
    line-height: 50px;
  }

  .menu-itens-ul li a {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .page-footer {
    flex-direction: column;
  }
  .page-footer .left {
    margin: 8% 10%;
  }
  .page-footer .right {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 750px) {
  .page-footer .right {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-footer .column {
    text-align: center;
  }
  .page-footer .column h4 {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .quiz-nav {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .time-item {
    margin-right: 0;
  }
  .about {
    padding: 30px 20px 50px;
  }
  
  .teste-resp {
    display: block;
  }
}

@media screen and (max-width: 310px) {
  .page-footer .left {
    flex-direction: column;
  }
  .login-nav {
    padding: 0 5px;
  }
}

@media (max-width: 1040px) {
  .login-nav {
    width: 250px;
    flex-direction: row;
    justify-content: space-around;
  }

  /*inicial*/

  div#slide-inicial .welcome-info {
    position: absolute;
    z-index: 2;
  }
  div#slide-inicial .welcome-info h1 {
    width: 90%;
    text-shadow: 2px 2px #ffc107;
    font-size: 2em;
  }
  div#slide-inicial img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .titulo-home {
    text-align: center;
    font-size: 0.7em;
  }
  /* Responsivo Grafico*/
  .info-block-statics {
    flex-direction: column;
  }
  .card-container {
    width: 300px;
  }
  .info-block-statics {
    margin-left: 0;
  }
  /*Responsivo testemonial*/
  .testemonials {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .testemonials .left {
    width: 100%;
    margin: 10px 10px;
    display: flex;
    overflow-x: auto;
  }

  .testemonials .right {
    width: 80%;
    margin: 10px auto;
    min-height: 250px;
    padding: 30px;
  }
  .testemonials-item {
    min-width: 300px;
    margin-right: 5px;
  }
}
@media (max-width: 770px) {
  .container {
    width: 100%;
    margin: 0 20px;
  }
  .metrics .info-block-card {
    margin-bottom: 30px;
    justify-content: center;
  }
  .card-container {
    width: 80%;
  }

  .info-section ul {
    padding: 0;
  }

  /*Grafico*/
  .info-block-statics {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .show-off-title h1 {
    font-size: 1.5rem;
  }
  /*inicial*/
  div#slide-inicial {
    display: flex;
    flex-direction: column-reverse;
  }
  div#slide-inicial .welcome-info {
    position: static;
    text-align: center;
  }
  div#slide-inicial .welcome-info h1 {
    width: 100%;
  }
  .info-section li {
    font-size: 1rem;
  }
  .info-section li::before {
    margin-right: 10px;
  }
  /*Grafico*/
  #metricsChart,
  #metricsChartBar {
    display: none;
    visibility: hidden;
  }
  #section-exemplo .info-block-statics {
    width: 90%;
    margin: 10px auto;
  }
  #section-exemplo .info-block-statics div.chart {
    width: 100%;
    margin: 10px auto;
  }
  #section-exemplo .info-block-statics #Bar {
    background-image: url("/static/img/grafico_para_celularBAR.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  #section-exemplo .info-block-statics #Radar {
    background-image: url("/static/img/grafico_para_celular.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /*Testemonials*/
  .testemonials .right {
    width: 100%;
    margin: 10px auto;
    min-height: 250px;
    padding: 30px;
  }
  .terceira-bolinha-titulo {
    display: none;
  }
}
@media (max-width: 370px) {
  ul#login-nav{
    margin: 0 3px 0 0!important;
  }
  .container-fluid button#btnResp{
    padding: 4px;
  }
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .titulo-home {
    font-size: 0.8em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }