/*iniciar teste*/
.testeLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
}
.testeLogin section {
  padding: 30px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.testeLogin section h2 {
  width: fit-content;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 4px !important;
  padding-left: 25px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.testeLogin section p {
  font-size: 0.9rem;
}
.testeLogin section form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 150px;
}
.testeLogin section form label {
  font-size: 1rem;
}
.testeLogin section input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 7px;
}
#btnSubmit {
  margin-top: 15px;
  width: fit-content;
  height: 40px;
  margin-top: 30px;
  font-size: 0.9rem;
  color: #f5f5f5;
}
/*questionario*/
.question-main {
  /* background: linear-gradient(337deg, rgba(37, 45, 68, 1) 40%, rgba(79, 92, 128, 1) 80%); */
  background-color: #225194;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0, #225194),
    color-stop(100%, #029797)
  );
  background-image: -webkit-linear-gradient(135deg, #225194, #029797);
  background-image: -moz-linear-gradient(45deg, #225194, #029797);
  background-image: -ms-linear-gradient(45deg, #225194 0, #029797 100%);
  background-image: -o-linear-gradient(45deg, #225194, #029797);
  background-image: linear-gradient(135deg, #225194, #029797);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
  overflow-y: hidden;
}

.protected {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 5;
}

.back-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  left: 6%;
  top: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}

.question-info {
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30%;
  height: 500px;
  overflow-y: hidden;
}

.question-info .title {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.question-info .footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.question-info .footer span {
  font-size: 0.9rem;
  opacity: 0.8;
}

.btn-expand {
  border-width: 1px;
  border-style: solid;
  margin-top: 0 !important;
  margin-left: 25px;
  font-size: 0.9rem;
  display: none;
}

.btn-expand:hover {
  color: #ffcc44;
}

.btn-expand i {
  margin-left: 10px;
}

.question-info .title h2 {
  padding-left: 5px;
  font-size: 1.25rem;
  border-left: 3px solid #ffcc44;
  margin-bottom: 0;
  margin-left: 30px;
}

.question-info ul {
  z-index: 1;
  padding: 12px 0 72px;
  list-style: none;
  position: relative;
  padding-left: 25px;
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-active {
  font-weight: bold !important;
}

.vertical-line {
  background-color: #ffcc44;
  position: absolute;
  width: 3px;
  height: 420px;
  left: 30px;
  top: 32px;
  z-index: 1;
}

.active-circle {
  width: 25px;
  height: 25px;
  border: 2px solid #c49c00;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -7px;
  top: 5px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-circle div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c49c00;
}

.question-info li {
  font-size: 0.9rem;
  opacity: 0.8;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 38px;
  line-height: 38px;
}

.question-info li:hover {
  opacity: 1;
}

.question-info li::before {
  content: "";
  background-color: #ffcc44;
  color: #fff;
  width: 12px;
  height: 12px;
  font-size: 0.7rem;
  margin-right: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.question-info li .done,
.question-times {
  color: #fff;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0 6px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

.question-info li .done i,
.question-times i {
  color: #fff;
}

.question-info li .done {
  background-color: #3fc658;
}

.question-times {
  background-color: #e54b4b;
}

.question-info li p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

.questionary {
  width: 55%;
  height: 500px;
}

.questionary .inner {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  height: 500px;
  margin-bottom: 80px;
  overflow: hidden;
}

.questionary .inner:last-of-type {
  margin-bottom: 0;
}

.questionary .inner .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.questionary .inner .hero img {
  width: 85%;
}

.questionary .inner .question-self {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  background: #fff;
  box-shadow: -2.5px 1px 4px 1px rgba(0, 0, 0, 0.05);
}

.question-item .title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-item .title h1 {
  font-size: 1.15rem;
  color: rgb(82, 82, 82);
  font-weight: bold;
}

.question-item .title span {
  font-size: 0.9rem;
  opacity: 0.8;
}

.questionary .inner .question-self ul {
  margin: 0;
  padding: 0;
}

.questionary .inner .question-self ul li {
  list-style: none;
  width: 90%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: column;
  padding: 5px 0;
}

.questionary .inner .question-self ul li span {
  font-size: 0.9rem;
  opacity: 0.9;
}

.custom-group {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
}

.custom-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.custom-radio-active {
  border-color: #ffcc44 !important;
  color: #ffcc44 !important;
}

.validation-msg {
  width: 325px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 80px;
  right: 10px;
  padding: 15px 35px;
  color: rgb(95, 95, 95);
  border-radius: 5px;
  color: #fff;
  display: none;
  justify-content: space-between;
  column-gap: 2%;
  z-index: 1000;
}

.validation-in {
  animation: error-msg-in 0.8s;
}

.validation-out {
  animation: error-msg-out 0.8s;
}

.validation-msg div {
  display: flex;
  align-items: center;
}

.validation-msg div i {
  color: #b46262;
  font-size: 1.7rem;
  margin-right: 25px;
}

.validation-msg div p {
  opacity: 0.8;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.success {
  background-color: #a9e5a9;
}

.error {
  background-color: #eb8080;
}

.button-group {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-group button {
  border: none;
  background: #ececec;
  color: rgba(0, 0, 0, 0.65);
  width: 100px;
  height: 45px;
  font-size: 0.9rem;
  border-radius: 5px;
}

.button-group button:first-of-type {
  margin-right: 15px;
  order: 2;
}

.btn-next,
.btn_enviar {
  background-color: #ffcc44 !important;
  color: #fff !important;
  font-weight: bolder;
}

.btn_enviar {
  width: fit-content !important;
  padding: 0 15px;
  box-shadow: 0 0 0 0 rgba(242, 184, 70, 0.5);
  animation: pulse 1.5s infinite;
}

.btn_enviar:hover {
  animation: none;
}

/*responsive*/

@media screen and (max-width: 1200px) {
  .question-info {
    width: 35%;
  }
  .questionary {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .question-info {
    height: 500px !important;
  }
}

@media screen and (max-width: 1000px) {
  .question-main {
    flex-direction: column;
    height: fit-content;
    padding: 70px 0;
  }
  .question-info {
    width: 90%;
    margin-bottom: 25px;
    height: 60px;
    transition: height 0.8s;
  }
  .question-info .title {
    height: 60px;
  }
  .question-info .title h2 {
    font-size: 1.1rem;
  }
  .questionary {
    width: 90%;
  }
  .question-info .footer {
    position: absolute;
    top: 0;
    right: 0;
    left: initial;
    width: fit-content;
    padding-right: 35px;
    z-index: 3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .btn-expand {
    display: flex;
  }
  .question-info ul {
    padding: 12px 0 12px 25px;
  }
}

@media screen and (max-width: 700px) {
  .question-info {
    width: 95%;
  }
  .questionary {
    width: 95%;
  }
  .questionary .inner {
    position: relative;
    height: 550px;
  }
  .questionary .inner .hero {
    width: 150px;
    position: absolute;
    right: 50px;
    top: 30px;
  }
  .questionary .inner .question-self {
    padding: 0 10%;
    width: 100%;
    margin-top: 25px;
  }
  .questionary .inner .question-self ul li {
    width: 100%;
  }
  .button-group {
    width: 100%;
  }
  .validation-msg {
    text-align: center;
  }
  .question-main {
    padding: 70px 0 120px;
  }
}

@media screen and (max-width: 600px) {
  .question-info {
    width: 100%;
    border-radius: 0;
  }
  .questionary {
    width: 100%;
    border-radius: 0;
  }
  .questionary .inner .question-self {
    padding: 0 5% 0 8%;
  }
  .questionary .inner .hero {
    top: 38px;
  }
}

@media screen and (max-width: 450px) {
  .question-info .title h2 {
    display: none;
  }
  .question-info .footer {
    padding-right: 95px;
  }
}

@media screen and (max-width: 450px) {
  .question-info .footer {
    padding-right: 75px;
  }
  .questionary .inner .hero {
    width: 125px;
    right: 20px;
  }
}

@media screen and (max-width: 350px) {
  .question-info .footer {
    padding-right: 50px;
  }
  .questionary .inner .question-self {
    margin-top: 80px;
  }
  .questionary .inner {
    height: 600px;
  }
  .questionary .inner .hero {
    width: 150px;
    right: 50%;
    top: 20px;
    margin-right: -80px;
  }
  .question-main {
    padding: 70px 0 190px;
  }
  .validation-msg {
    width: 100%;
    right: 0;
  }
}

/*animation*/

.question-slide {
  animation: q-slide 2s;
}

@keyframes q-slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.fade-in {
  animation: fade-in 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-toggle {
  animation: fade-toggle 2s;
}

@keyframes fade-toggle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(242, 184, 70, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(242, 184, 70, 0);
  }
}

@keyframes error-msg-in {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes error-msg-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}
