.main-content {
  box-shadow: none !important;
}

.aboutThis {
  min-height: calc(100vh - 60px);
}

.aboutThis .top {
  display: flex;
  justify-content: center;
  column-gap: 4%;
  padding: 60px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.aboutThis .top .item {
  padding-top: 15px;
  border-top-width: 2.5px;
  border-top-style: solid;
}

.aboutThis .top .item h1,
.aboutThis .bottom .item h1 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.aboutThis .top .item p,
.aboutThis .bottom .item p {
  font-size: 0.9rem;
  opacity: 0.9;
  text-align: start;
  line-height: 26px;
}

.body {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 65px 50px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

.body .left {
  width: 400px;
  border-top: 2.5px solid #aa892e;
  padding-top: 15px;
}

.body .left h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #aa892e;
  margin-bottom: 10px;
}

.body .left p {
  text-align: start;
  font-size: 0.8rem;
  opacity: 0.8;
  line-height: 25px;
}

.body .right {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.body .right .item {
  width: 275px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.body .right .item:nth-of-type(3) {
  margin-bottom: 0;
}

.body .right .item:nth-of-type(4) {
  margin-bottom: 0;
}

.body .right .item .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border: 3px solid #cca437;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .right .item .icon i {
  font-size: 1.1rem;
  color: #fff;
}

.body .right .item h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #aa892e;
}

.body .right .item p {
  text-align: start;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 0;
  line-height: 25px;
}

.float-card {
  width: 80%;
  height: 450px;
  position: absolute;
  bottom: -225px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
}

.float-card .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.float-card .img img {
  width: 225px;
  margin-bottom: 25px;
}

.float-card .img figcaption {
  font-size: 0.85rem;
  opacity: 0.8;
}

.float-card .text {
  width: 65%;
}

.float-card .text .block:nth-of-type(1) {
  margin-bottom: 20px;
}

.float-card .text h2 {
  font-size: 1.2rem;
}

.float-card .text p {
  font-size: 0.85rem;
  opacity: 0.8;
  text-align: start;
  line-height: 22.5px;
  margin-bottom: 0;
}

.bottom {
  padding: 300px 65px 50px;
}

.bottom .item:nth-of-type(1) {
  margin-bottom: 50px;
}

/*P HELP*/
main.container#pag-help {
  display: flex;
  position: relative;
}
/*Mudanças 02/11/2021*/
.indice-esquerda {
  position: fixed;
  z-index: 1;
  left: 0;
  padding: 0 20px 0 30px;
  width: 350px;
  height: 80vh;
  overflow-y: auto;
}

main.container .indice-esquerda a {
  color: #2b2b2b;
  text-decoration: none;
  font-size: 0.8rem;
}

main.container aside.login-form-container {
  max-width: 1200px;
  min-width: 300px;
  margin: 50px 0 50px auto;
  width: 70%;
  padding-right: 0;
}
main.container aside.login-form-container div.bd-content {
  width: 100%;
  max-width: 1200px;
}

main.container aside.login-form-container div.bd-content .mapa-mental {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .float-card {
    width: 90%;
  }
  .body {
    column-gap: 4%;
    padding: 65px 10px 300px;
  }
  /*P HELP*/
  .indice-esquerda {
    width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .body {
    flex-direction: column;
  }
  .body .left {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .float-card {
    width: 95%;
  }
  /*P HELP*/
  #pag-help {
    display: flex;
    flex-direction: column;
  }
  .indice-esquerda {
    width: 100%;
    background: #fff;
    top: 50px;
    position: static;
    height: 350px;
  }
  .indice-esquerda ul.section-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  main.container aside.login-form-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .float-card {
    height: 550px;
    bottom: -275px;
  }
  .bottom {
    padding: 350px 65px 50px;
  }
  .body {
    column-gap: 4%;
    padding: 65px 10px 325px;
  }
  .float-card .text {
    width: 60%;
  }
  .aboutThis .top {
    padding: 60px 30px;
  }
  .aboutThis .top .item h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .aboutThis .top {
    flex-direction: column;
  }

  .aboutThis .top .item {
    border: none;
  }

  .aboutThis .top .item:first-of-type {
    margin-bottom: 50px;
  }

  .float-card {
    height: 920px;
    bottom: -460px;
    flex-direction: column;
  }
  .bottom {
    padding: 565px 65px 50px;
  }
  .body {
    padding: 65px 10px 540px;
  }
  .float-card .img {
    margin-bottom: 35px;
  }
  .float-card .text {
    width: 70%;
  }
  /*P HELP*/
  #pag-help {
    width: 100%;
    margin: 30px auto;
  }
  .indice-esquerda {
    padding: 5px;
  }
}

@media screen and (max-width: 650px) {
  .float-card .text {
    width: 85%;
  }
  .body .right {
    width: 100%;
  }
  .body .right .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 45px;
  }
  .body .right .item:nth-of-type(3) {
    margin-bottom: 45px;
  }

  .body .right .item:nth-of-type(4) {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 500px) {
  .float-card .text {
    width: 95%;
  }
  .float-card {
    height: 1000px;
    bottom: -500px;
  }
  .body .left {
    border: none;
    width: 100%;
  }
  /*HELP*/
  .indice-esquerda {
    padding: 30px 0;
  }
}

@media screen and (max-width: 400px) {
  .float-card .text {
    width: 90%;
  }
  .float-card {
    height: 1100px;
    bottom: -550px;
  }
  .bottom {
    padding: 600px 30px 50px;
  }
}

@media screen and (max-width: 350px) {
  .float-card {
    height: 1200px;
    bottom: -600px;
  }
  .bottom {
    padding: 650px 30px 50px;
  }
  .body {
    padding: 65px 10px 600px;
  }
}

@media screen and (max-width: 300px) {
  .float-card {
    height: 1400px;
    bottom: -700px;
  }
  .bottom {
    padding: 725px 30px 50px;
  }
  .body {
    padding: 65px 10px 675px;
  }
}

@media screen and (max-width: 250px) {
  .float-card .img img {
    width: 175px;
  }
  .float-card .img figcaption {
    font-size: 0.8rem;
    text-align: center;
  }
}
