.login-form-container {
  /*CONTAINER*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container .login-card {
  width: 40% !important;
}

.login-form-container .login-card input {
  width: 100% !important;
}

.login-form-container h2 {
  color: #ffcc44;
}

.login-form-container .btn {
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: #ffcc44;
  margin-top: 50px;
}
.form-centro {
  text-align: center;
}
#btn-sem-chave {
  margin-top: 30px;
}
.login-form-container form {
  padding: 20px 0;
}

@media screen and (max-width: 1000px) {
  .login-form-container .login-card {
    width: 60% !important;
  }
}

@media screen and (max-width: 600px) {
  .login-form-container .login-card {
    width: 90% !important;
  }
}
