{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Relatório</title>
{% endblock %}

{% block conteudo %}


<form action="" method="GET">
    <label for="turmas">Escolha uma Turma:</label>


    <select name="turmas" id="turmas">
        {% for t in turmas %}
        <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
    </select>
    <input type = 'submit' value="Submit">
</form>

<hr><hr>
<h3>Pagina de Relatórios</h3>
<hr>
<canvas id="mediaTurma" style="max-width: 600px; max-height: 600px;"></canvas>
<hr>
<form action="" method="GET">
    {% csrf_token %}
    <label for="turmas">Escolha um Curso:</label>

    <select name="cursos" id="cursos">
        {% for t in turmas %}
        <option value="{{ t.curso }}">{{ t.curso }}</option>
        {% endfor %}
    </select>
    <input type = 'submit' value="Submit">
</form>
<hr>
{{nome_turma_curso}}

<hr>
<canvas id="mediaPorCurso" style="max-width: 600px; max-height: 600px;"></canvas>
<hr>
<hr>
<canvas id="evolucaoTurma" style="max-width: 600px; max-height: 600px;"></canvas>
<hr>
<h1>Tentativas da Turma {{nome_turma}}</h1>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Teste</th>
                <th>Quem respondeu</th>
                <th>Data</th>
                <th>Estilo</th>
            </tr>
        </thead>
        <tbody>
            {% for t in evlTurma %}
            <tr>
                <td>{{t.teste.descricao}}</td>
                <td>{{t.usuario}}</td>
                <td>{{t.data}}</td>
                <td>{{t.estilo}}</td>
            </tr>
            {% empty %}
            <td colspan="3">Nenhuma tentativa registrada.</td>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<h1>Tentativas por curso {{nome_turma_curso}}</h1>
<div class="table-responsive">
    <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Teste</th>
                <th>Quem respondeu</th>
                <th>Data</th>
                <th>Estilo</th>
            </tr>
        </thead>
        <tbody>
            {% for t in evlCurso %}
            <tr>
                <td>{{t.teste.descricao}}</td>
                <td>{{t.usuario}}</td>
                <td>{{t.data}}</td>
                <td>{{t.estilo}}</td>
            </tr>
            {% empty %}
            <td colspan="3">Nenhuma tentativa registrada.</td>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
    $(document).ready(function () {
        //relatório para a media da turma de estilo de aprendizagem
        var ctx = $('#mediaTurma');

        var dados = {
            labels: ['Assimilador', 'Convergente', 'Divergente', 'Acomodador'],
            datasets: [
                { // Depois os dados/média da turma
                    label: 'Geral da Turma',
                    data: [{{ Assimilador }}, {{ Convergente }}, {{ Divergente }}, {{ Acomodador }}],
                    fill: true,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }
            ] // fim dos conjuntos
        };

        var config = {
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Tentativas da turma',
                fontSize: 30,
                fontColor: '#273c75'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        };

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: dados,
            options: config,
        });

        //relatório para a media por curso de estilo de aprendizagem
        var ctx = $('#mediaPorCurso');

        var dados = {
            labels: ['Assimilador', 'Convergente', 'Divergente', 'Acomodador'],
            datasets: [
                { // Depois os dados/média da turma
                    label: 'Geral da Turma',
                    data: [{{ AssimiladorCurso }}, {{ ConvergenteCurso }}, {{ DivergenteCurso }}, {{ AcomodadorCurso }}],
                    fill: true,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }
            ] // fim dos conjuntos
        };

        var config = {
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Tentativas por Curso',
                fontSize: 30,
                fontColor: '#273c75'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        };

        var ChartCurso = new Chart(ctx, {
            type: 'bar',
            data: dados,
            options: config,
        });

        //Relatório por turma contendo a evolução da turma, gráfico de linha
        var ctx = $('#evolucaoTurma');

        var dados = {
            labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            datasets: [
                { 
                    label: 'Assimilador',
                    data: [],
                    fill: false,
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 3,
                },
                { 
                    label: 'Convergente',
                    data: [{{evlAssimilador}}],
                    fill: false,
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 3,
                },
                { 
                    label: 'Divergente',
                    data: [],
                    fill: false,
                    borderColor: [
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 3,
                },
                { 
                    label: 'Acomodador',
                    data: [],
                    fill: false,
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 3,
                },
            ] // fim dos conjuntos
        };

        var config = {
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Evolução da Turma',
                fontSize: 30,
                fontColor: '#273c75'
            }
        };

        var ChartCurso = new Chart(ctx, {
            type: 'line',
            data: dados,
            options: config,
        });
        
    });
    // var myChart = new Chart(ctx, { ...});

</script>

{% endblock %}