{% extends 'modelo.html' %}

{% load static %}
{% load filtros %}

{% block conteudo %}

<hr>
{{testes}}
<hr>
{% for t in tentativas %}
{{t}}
{%endfor%}
<hr>
{{orm}}
<div class="lista">
    <div class="tableHead">
        <h3>Lista de Alunos registrados</h3>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>RA</th>
                    <th>e-mail</th>
                    <th>Telefone</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
               
                    {% for aluno in object_list  %}
                    <tr>
                        <td>{{ aluno.perfil.nome_completo }}</td>
                        <td>{{ aluno.perfil.ra }}</td>
                        <td>{{ aluno.usuario.email }}</td>
                        <td>{{ aluno.perfil.telefone }}</td>
                        <td>{{ aluno.perfil.sexo }}</td>
                    </tr>
                    {% empty %}
                        <td colspan="3">Nenhum aluno registrado.</td>
                        
                    {% endfor %}
              
            </tbody>
        </table>
    </div>
</div>
    

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>

{% endblock %}