{% extends 'modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}
<main class="container" id="pag-help" > <!--Mudou-->
    <!-- navbar para o indice da pagina -->
    <nav class="d-xl-block col-xl-2 bd-toc indice-esquerda"> <!--Div virou nav class indice-esquerda-->
        <ul class="section-nav list-group list-group-flush">
            <li class="toc-entry toc-h2 list-group-item"><a href="#manual-do-aluno">1. Manual do Aluno</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#registro-do-aluno">1.1. Registro de Aluno</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#acessar-a-aplicacao">1.2. Acessar a aplicação</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#fazer-teste">1.3. Fazer Teste </a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#fazer-teste-sem-acesso">1.4. Fazer o Teste Sem Acesso no Login</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#relatorio-tentativas-aluno">1.5. Relatório de Tentativas do Aluno</a></li>
            <li class="toc-entry toc-h2 list-group-item"><a href="#manual-professor">2. Manual do Professor</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#registro-do-professor">2.1. Registro de Professor</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#acessar-a-aplicacao-do-professor">2.2. Acessar a aplicação</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#criar-teste">2.3. Criar Teste </a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#criar-teste">2.3.1 Cadastrar Instituição </a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#criar-instituicao">2.3.2 Cadastrar Curso </a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#criar-curso">2.3.3 Cadastrar Turma </a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#relatorio-tentativas-por-aluno">2.4. Relatório de Tentativas por Aluno</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento"><a href="#relatorio-da-turma">2.5. Relatório da Turma</a></li>
                <li class="toc-entry toc-h3 list-group-item deslocamento" style="border-bottom-width: 1px;"><a href="#relatorio-do-curso">2.6. Relatório de Curso</a></li>

        </ul>
    </nav>




    <!-- introdução -->
    <aside class="login-form-container">
        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main"> <!--Mudou para div-->
            <h1 class="bd-title color-custom-primary" id="content">| Como Faço</h1> <!-- Mudou aqui-->
            <p class="bd-lead">
                Para uma ajuda com a aplicação é disponibilizado esta pagina de "help", que explica passo a passo
                o que um aluno e um professor pode fazer. 
                Desta forma, com o Manual do Aluno explica como pode se cadastrar, fazer o teste para o estilo de aprendizagem
                de Kolb, visualizar suas tentativas. E para o Professor, o Manual do Professor, onde pode 
                explicar como se cadastra, visualiza os relatórios disponíveis para o professor e seus devidos cadastros, e 
                a criação de um teste para ser aplicado a uma turma ou curso com chave de acesso. 
                
            </p>

            <!-- conteudo -->
            <h2 id="manual-do-aluno">1. Manual do Aluno</h2>
            <figure class="figure mapa-mental"> <!--Adiciona a Classe e remove o estilo-->
                <img src="{% static 'img/ajuda/Fluxograma_Aluno.png' %}" class="figure-img img-fluid rounded mapa-mental" alt="...">
            </figure>
            <h3 id="registro-do-aluno">1.1. Registro de Aluno</h3>
            <p>Ao clicar no botão <strong>Registrar -> Aluno</strong>, é acessado a página para
                um novo registro de usuário. Onde é obrigatório informar
                nome de Usuário, E-mail, Senha e Confirmação da senha
                para poder acessar a aplicação.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/registro-aluno.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Ao finalizar o cadastro como perfil de Aluno, onde tem
                permissões somente de Aluno.
            </p>
            <p>
                Logo após, é necessário finalizar o cadastro do perfil no item <strong>Meus Dados</strong>,
                para complementar os dados pessoais necessários para ficar
                disponível para os relatórios.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/completar-cadastro.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="acessar-a-aplicacao">1.2. Acessar a aplicação</h3>
            <p>
                Ao clicar no botão de <strong>Entrar</strong>, você entra na parte de autenticação
                de login do usuário com nome de usuário e senha.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/login-usuario.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="fazer-teste">1.3. Fazer Teste </h3>
            <p>
                Quando estiver logado como aluno, ao clicar no botão logo acima
                a direita <strong>Fazer Teste</strong>, você entra na opção
                para responder o teste com a chave de acesso que o seu professor passou.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/fazer-teste-logado.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Com tal chave de acesso fornecida, ao clicar no botão
                <strong>Iniciar Teste</strong>, é direcionado para o teste onde será
                identificado o estilo predominante de aprendizagem.
                Mas na mesma página, tendo uma opção de responder o
                teste sem a chave de acesso.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/responder-teste.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                A chave de acesso será necessária para o relatório próprio
                e da turma de seu estilo de aprendizagem predominante.
                Sem a chave de acesso não é gravada a sua tentativa na base de dados.
            </p>
            <p>
                Na página de teste, é necessário responder todas as questões,
                e ao clicar no botão Enviar Respostas. É enviado para a base
                de dados a tentativa para registro, se estiver com a chave de
                acesso como já foi informado. E mostrado a resposta da tentativa,
                com as descrições e recomendações do estilo.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/teste.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Assim para responder corretamente, o questionário presente possui 12
                sentenças a serem respondidas, com cada pergunta de 4 respostas,
                sendo cada resposta com valores de 1 a 4 de forma crescente de acordo
                com cada afinidade. Se classificam de acordo com que se encaixam no
                jeito de aprender, podendo ser algo novo na universidade, escola ou
                no dia-dia, de tal forma que seja recente (Kolb; Kolb, 2005).
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/resposta.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="fazer-teste-sem-acesso">1.4. Fazer o Teste Sem Acesso no Login</h3>
            <p>
                Ao clicar no botão <strong>Quero fazer o teste</strong>, é direcionado para o teste
                onde será identificado o estilo predominante de aprendizagem.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/fazer-teste-deslogado.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Na mesma página, tem a opção de responder o teste sem a chave de acesso
                (para o público), e outra opção com a chave de acesso fornecida pelo
                professor, ou seja, para os alunos que não queiram entrar no sistema
                sendo possível responder somente com a chave de acesso.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/responder-teste.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Na página de teste, é necessário responder todas as questões,
                e para finalizar no botão <strong>Enviar Respostas</strong> depois da alternativa 12.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/teste.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Para o usuário sem login, é mostrado somente a resposta da tentativa,
                com as descrições e recomendações do estilo.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/resposta.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="relatorio-tentativas-aluno">1.5. Relatório de Tentativas do Aluno</h3>
            <p>
                No relatório para o aluno, no item <strong>Tentativa</strong>, mostra uma
                lista de tentativas feitas como relatório pelo próprio usuário.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-tentativas.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Em forma de lista, é mostrado as tentativas com as informações
                e tendo a possibilidade de escolher as opções para ver relatório
                ou imprimir relatório gerando em PDF.
            </p>
            <p>
                Ao clicar em ver a resposta, é mostrado o mesmo a mesma resposta
                do resultado do teste, mas com a quantidade de estilos da turma
                que o aluno pertence no mesmo gráfico. E logo abaixo uma lista
                das tentativas que o aluno fez, mostrando como uma evolução por data da tentativa.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/resposta.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-evolucao.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h2 id="manual-professor">2. Manual do Professor</h2>
            <figure class="figure mapa-mental"> <!--Adiciona a Classe e remove o estilo-->
                <img src="{% static 'img/ajuda/Fluxograma_Professor.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="registro-do-professor">2.1. Registro de Professor</h3>
            <p>Ao clicar no botão <strong>Registrar -> Professor</strong>, é acessado a página para
                um novo registro de usuário. Onde é obrigatório informar
                nome de Usuário, E-mail, Senha e Confirmação da senha
                para poder acessar a aplicação.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/registro-professor.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Ao finalizar o cadastro como perfil de Professor, onde tem as
                permissões de Professor.
            </p>
            <p>
                Logo após, é necessário finalizar o cadastro do perfil no item
                <strong>Meus Dados</strong>, para complementar os dados pessoais
                necessários, para o funcionamento dos relatórios.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/completar-cadastro.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="acessar-a-aplicacao-do-professor">2.2. Acessar a aplicação</h3>
            <p>
                Ao clicar no botão de <strong>Entrar</strong>, você entra na parte de autenticação
                de login do usuário com nome de usuário e senha.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/login-usuario.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="criar-teste">2.3. Criar Teste</h3>
            <p>
                Antes de criar um teste você deve seguir os seguintes passos se já não os tiver feito anteriormente:
                <strong> Cadastrar Instituição -> Cadastrar Curso -> Cadastrar Turma </strong>
            </p>
            <div>
                <h5 id="criar-instituicao">2.3.1 Cadastrar Instituição</h5>
                <p class="text-info">Antes de cadastrar sua instituição veja se ela já não foi cadastrada anteriormente, caso já esteja cadastrada, vá para <a class="link-secondary text-decoration-none" href="#criar-curso"> 2.3.2 Cadastrar Curso</a></p>
                <p>No menu na aba cadastro, vá em <Strong>Instituição</Strong></p>
                <figure class="figure">
                    <img src="{% static 'img/ajuda/tela_casdastro_instituicao.png' %}" class="figure-img img-fluid rounded" alt="...">
                </figure>
                <p>Na página de <Strong>Instituições</Strong>, clique em <strong>Adicionar Instituição</strong>, você será redirecionado para outra página, então preencha os campos e clique em cadastrar</p>
            </div>
            <div>
                <h5 id="criar-curso">2.3.2 Cadastrar Curso</h5>
                <p class="text-info">Caso já tenha cadastrado seu curso vá para <a class="link-secondary text-decoration-none" href="#criar-turma"> 2.3.3 Cadastrar Turma</a></p>
                <p>No menu na aba cadastro, vá em <Strong>Curso</Strong></p>
                <figure class="figure">
                    <img src="{% static 'img/ajuda/tela_casdastro_curso.png' %}" class="figure-img img-fluid rounded" alt="...">
                </figure>
                <p>Na página de <Strong>Lista de cursos registrados</Strong>, clique em <strong>Adicionar Curso</strong>, você será redirecionado para outra página, então preencha os campos e clique em cadastrar</p>
            </div>
            <div>
                <h5 id="criar-turma">2.3.3 Cadastrar Turma</h5>
                <p>No menu na aba cadastro, vá em <Strong>Turma</Strong></p>
                <figure class="figure">
                    <img src="{% static 'img/ajuda/tela_casdastro_turma.png' %}" class="figure-img img-fluid rounded" alt="...">
                </figure>
                <p>Na página de <Strong>Lista de turmas registradas</Strong>, clique em <strong>Adicionar Turma</strong>, você será redirecionado para outra página, então preencha os campos e clique em cadastrar</p>
            </div>
            <h4 class="text-success">Agora você esta pronto para criar um teste</h4>
            <p>
                Logo a cima no menu, aparece o cadastro com todas as listas que você possui.
                No <Strong>Cadastro -> Teste</Strong> você entra, e o professor pode cadastrar
                o seu teste que desejar para ser aplicado aos alunos desejados.
            </p>
            <p>
                Ao adicionar um teste, é informado nome, turma, curso, ra e chave de acesso
                sendo obrigatórios, além de ter outros não obrigatórios. Sendo a chave de acesso
                que o professor vai passar para os alunos para responder tal teste.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/criar-teste.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>

                Com a chave de acesso no sistema, é necessário ser enviado para os alunos,
                que deseja fazer. De certa forma, na hora que o aluno responde e finaliza o teste com a
                chave de acesso fornecida pelo professor, conforme no item do <a href="#manual-do-aluno" style="text-decoration: none;"> Manual do Aluno</a>, é pego os dados deste aluno que respondeu e
                gravado no banco de dados.
            </p>
            <p>
                Pois, a chave de acesso é necessária para o relatório da turma apresentar o
                estilo de aprendizagem predominante de cada.
                Sem a chave de acesso não é gravada as informações da tentativa
                na base de dados.
            </p>
            <h3 id="relatorio-tentativas-por-aluno">2.4. Relatório de Tentativas por Aluno</h3>
            <p>
                No relatório para o aluno, no item <strong>Cadastro -> Tentativa</strong>, mostra uma
                lista de tentativas feitas como relatório por cada aluno da turma.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-por-aluno.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Em forma de lista, é mostrado as tentativas com as informações
                e tendo a possibilidade de escolher as opções para ver relatório
                ou imprimir relatório gerando em PDF de cada aluno registrado de sua turma.
            </p>
            <p>
                Ao clicar em ver a resposta, é mostrado a mesma resposta
                do resultado do teste, mas com a quantidade de estilos da turma
                que o aluno pertence no mesmo gráfico. E logo abaixo uma lista
                das tentativas que o aluno fez, mostrando como uma evolução por data da tentativa.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/resposta.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-evolucao.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="relatorio-da-turma">2.5. Relatório da turma</h3>
            <p>
                Para o relatório da turma, ao clicar em <strong>Relatório -> Por Turmas</strong> entra na parte 
                de relatórios, onde o professor pode ver com detalhes os gráficos da turma de cada teste 
                criado, onde é mostrado de forma quantitativa, qual o estilo predominante da turma e em 
                lista, onde traz todos os resultados das tentativas ordenadas por data.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-turma.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <p>
                Neste caso, para identificar a predominancia da turma, é necessario escolher no
                botão <strong>Escolha uma Turma</strong>, que tera os resultados dos estilos
                da turma escolhida.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-por-turma.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <h3 id="relatorio-do-curso">2.6. Relatório de curso</h3>
            <p>
                Além dos relatórios de Turma, o relatório de curso também é apresentado graficamente, 
                sendo o mesmo procedimento do item 2.6, neste caso no <strong>Relatório -> Por Cursos</strong>,
                 onde apresenta o estilo predominante do curso. 
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-curso.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
            <P>     
                 Assim clicado no botão
                <strong>Escolher um Curso:</strong>, e em <strong>Enviar</strong> onde escolhe o curso desejado. 
                Da mesma forma, é apresentado uma lista, que mostra todos os resultados das tentativas ordenadas 
                por data junto com os gráficos de cada teste.
            </p>
            <figure class="figure">
                <img src="{% static 'img/ajuda/relatorio-por-curso.png' %}" class="figure-img img-fluid rounded" alt="...">
            </figure>
        </div>
    </aside>
</main>





{% endblock %}


{% block rodape %}

{% endblock %}
