{% extends 'modelo.html' %}

{% load static %}



{% block conteudo %}
{% if request.user.is_authenticated %}
    {% if not user.perfil.nome_completo %}
    <ul class="messages list-group" style="list-style: none;" text-aligt>
        <li class="alert alert-warning" role="alert">
            Você precisa completar seu cadastro. Acesse os <a href="{% url 'atualizar-dados' %}" class="alert-link">meus dados</a> para atualizar.
        </li>
    </ul>
    {% endif %} 
{% endif %}
<section class="main-block welcome-block">
    <div id="slide-inicial" class="container">
        <div class="welcome-info color-custom-primary">
            <h1>Seja bem vindo, vamos fazer o teste?</h1>
            <p>Faça o teste agora e descubra seu método de aprendizagem</p>
            <a href="{% url 'iniciar-teste' %}" style="font-size: 1.1rem;"><button class="btn-welcome border-custom-primary">Quero fazer o teste</button></a>
        </div>
        <img src="{% static 'img/img-hero.jpg' %}" class="img-cover">
    </div>
</section>
<section class="main-block info-block">
    <div class="container">
        <div class="show-off-title">
            <div class="show-off-title-icon show-off-icon-left">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i>
            </div>
            <h1 class="color-custom-primary titulo-home">Quais são os métodos de aprendizagem?</h1>
            <div class="show-off-title-icon show-off-icon-right">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i>
            </div>
        </div>
        <div class="info-section">
            <ul style="text-align: justify;">
                <li>
                    <div>
                        <b>Divergente (OR/EC):</b> <span><span>Aborda principalmente a criatividade, o indivíduo emprega sua imaginação assim gerando novas ideias. São pessoas reflexivas, criativas.</span>
                    </div>
                </li>
                <li>
                    <div>
                        <b>Assimilador (CA/OR):</b> <span>Aborda principalmente modelos teóricos e raciocínio, não foca no uso prático da teoria. São pessoas mais teóricas, conceituais.</span>
                    </div>
                </li>
                <li>
                    <div>
                        <b>Convergente (EA/CA):</b> <span>Aborda uma metodologia prática para resolver problemas usando como ferramenta o raciocínio dedutivo. São pessoas estruturais, sequenciais.</span>
                    </div>
                </li>
                <li>
                    <div>
                        <b>Acomodador (EC/EA):</b> <span>Aborda uma metodologia de assumir riscos para resolver o problema, aplicando a intuição no processo de aprendizagem com tentativas e erros. São pessoas mais práticas, vivenciais.</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="section-exemplo" class="main-block info-block">
    <div class="container">
        <div class="show-off-title">
            <div class="show-off-title-icon show-off-icon-left">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i>
            </div>
            <h1 class="color-custom-primary titulo-home">Exemplo de Gráfico</h1>
            <div class="show-off-title-icon show-off-icon-right">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i>
            </div>
        </div>
        <div class="metrics">
            <div class="info-block-card">
                <div class="card-container">
                    <div class="card-icon" style="background-color: #62d3db;">
                        <i class="fas fa-list"></i>
                    </div>
                    <div class="card-info">
                        <h2>Experiência Concreta (EC)</h2>
                        <!-- <span>56 vezes</span> -->
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-icon" style="background-color: #5c57af;">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="card-info">
                        <h2>Observação Reflexiva (OR)</h2>
                        <!-- <span>56 vezes</span> -->
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-icon" style="background-color: #e54b4b;">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="card-info">
                        <h2>Conceituação Abstrato (CA)</h2>
                        <!-- <span>56 vezes</span> -->
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-icon bg-color-custom-primary">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="card-info">
                        <h2>Experimentação Ativa (EA)</h2>
                        <!-- <span>56 vezes</span> -->
                    </div>
                </div>
            </div>
            <div class="info-block" style="margin: 0; padding-bottom: 0;">
                <span class="span-texto">Disponibilizamos dois tipos de gráficos,
                um em estilo de barra para melhor entendimento dos alunos,
                    e um em radar para aquelas pessoas que desejam ter em suas mãos o maior grau de fidelidade com o método de Kolb, ambos representam a mesma resposta.</span>
            </div>
            <div class="info-block-statics">
                <div id="Radar" class="chart">
                    <canvas id="metricsChart"></canvas>
                </div>
                <div id="Bar" class="chart">
                    <canvas id="metricsChartBar"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-block info-block">
    <div class="container">
        <div class="show-off-title">
            <div class="show-off-title-icon show-off-icon-left">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i> 
            </div>
            <h1 class="color-custom-primary titulo-home">Veja a opnião de quem fez</h1>
            <div class="show-off-title-icon show-off-icon-right">
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary"></i>
                <i class="fas fa-circle color-custom-primary terceira-bolinha-titulo"></i>
            </div>
        </div>
        <div class="testemonials">
            <div class="left">
                <div id="testemonial1" class="testemonials-item testemonials-item-active" onclick="trocarTestemonial(1)"> 
                    <div class="photo">
                        <img src="{% static 'img/Userdefault.png' %}" width="100%">
                    </div>
                    <div class="info">
                        <h2>Guilherme Huff, 20</h2>
                        <p>Método: Convergente</p>
                    </div>
                </div>
                <div id="testemonial2" class="testemonials-item hidden" onclick="trocarTestemonial(2)"> 
                    <div class="photo">
                        <img src="{% static 'img/Userdefault.png' %}" width="100%">
                    </div>
                    <div class="info">
                        <h2>Guilherme Brasil, 20</h2>
                        <p>Método: Observação Reflexiva</p>
                    </div>
                </div>
                <div id="testemonial3" class="testemonials-item hidden" onclick="trocarTestemonial(3)"> 
                    <div class="photo">
                        <img src="{% static 'img/Userdefault.png' %}" width="100%">
                    </div>
                    <div class="info">
                        <h2>Guilherme Brasil, 20</h2>
                        <p>Método: Observação Reflexiva</p>
                    </div>
                </div>
                <div id="testemonial4" class="testemonials-item hidden" onclick="trocarTestemonial(4)"> 
                    <div class="photo">
                        <img src="{% static 'img/Userdefault.png' %}" width="100%">
                    </div>
                    <div class="info">
                        <h2>Guilherme Brasil, 20</h2>
                        <p>Método: Observação Reflexiva</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div id="testemonialD1">
                    <h1>Agradável</h1>
                    <div class="testemonials-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                
                <p>Site muito bem feito, e muito agradável de utilizar, muito bom saber meu estilo de aprendizagem.</p>
                </div>
                <div id="testemonialD2" class="testemonialsDescricao hidden"> <!--ID + Class hidden-->
                    <h1>Segunda vez</h1>
                    <div class="testemonials-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Muito bom de novo</p>
                </div>
                <div id="testemonialD3" class="testemonialsDescricao hidden"> <!--ID + Class hidden-->
                    <h1>Terceira vez</h1>
                    <div class="testemonials-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Gostei muito</p>
                </div>
                <div id="testemonialD4" class="testemonialsDescricao hidden"> <!--ID + Class hidden-->
                    <h1>Quarta vez</h1>
                    <div class="testemonials-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>100%</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} <img src="{% static 'img/logo-utfpr-santa-helena.png' %}" alt=""> {% endcomment %}

{% endblock %}
