{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Pagina home</title>
{% endblock %}

{% block conteudo %}
    <h3>Pagina inicial</h3>
   
    {% if user.perfil.nome_completo %}
        Bem vindo ao sistema {{ user.perfil.nome_completo }}.
    {% else %}
        Você precisa completar seu cadastro. Acesse os <a href="{% url 'atualizar-dados' %}">meus dados</a> para atualizar.
    {% endif %}

    <br>

    Esta pagina vai ser a primeira pagina, (pagina home).

    <img src="{% static 'img/logo-utfpr-santa-helena.png' %}" alt="">

{% endblock %}





