{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Rocha">

    {% block titulo %}
    <title>Teste de Kolb</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>
<body>

    <!-- Bloco com o menu principal -->
    {% block menu %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Teste Kolb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">
                                <i class="fa-home" aria-hidden="true"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-question-circle"></i>
                                teste
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-square" aria-hidden="true"></i>
                                Cadastro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'listar-enderecos' %}">Endereço</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-instituicoes' %}">Instituição</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-turmas' %}">Turma</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre' %}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Sobre
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-list"></i>
                                Relatório
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-question-circle"></i>
                                Quem somos
                            </a>
                        </li>
                    </ul>
                   
                </div>

                <ul class="navbar-nav">

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <span id="username">Usuário</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Meus dados
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                Alterar senha
                            </a></li>
                            
                            <li><a class="dropdown-item" href="">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sair
                            </a></li>
                        </ul>
                    </li>
 
        
                </ul>
            </div>
        </nav>
    </div>
    {% endblock %}
    
    {% block destaque %}
    <div class="bg-secondary">
        Figuras de destaque
    </div>
    {% endblock %}
    

    <div class="container">
    {% block conteudo %}
        <h3>Templete de Modelo</h3>

        Conteúdo do Site
   
    {% endblock %}
    </div>


    {% block rodape %}
    <footer class="bg-light">
        Rodapé
    </footer>
    {% endblock %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>
</html>