{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Rocha">

    {% block titulo %}
    <title>Teste de Kolb</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/questionario.css' %}">
    <link rel="stylesheet" href="{% static 'css/quemSomos.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
    <link rel="stylesheet" href="{% static 'css/StyleLogins.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />

</head>

<body>

    <!-- Bloco com o menu principal -->
    {% block menu %}
    <div class="menu">
        <nav class="main-menu navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" id="btnResp">
                    <i class="fas fa-bars color-custom-primary" style="font-size: 1.8rem;padding: 0 10px;"></i>
                </button>
                <a href="{% url 'index' %}">
                    <div class="logo" style="background-image: url({% static 'img/quiz.png' %});">
                    </div>
                </a>
                <div class="menu-itens">
                    <ul class="menu-itens-ul">
                        <!-- para o menu -->
                        <li class="nav-item nav-item-active">
                            <a class="nav-link color-custom-primary-hover" aria-current="page" href="{% url 'index' %}" id="home">
                                Home
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item nav-item-active teste-resp">
                            <a class="nav-link color-custom-primary-hover" aria-current="page" href="{% url 'iniciar-teste' %}" id="home">
                                Fazer teste
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle color-custom-primary-hover" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="cadstro">
                                Cadastro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if not request.user.groups.all.0.name == 'Aluno'  %}
                                <li><a class="dropdown-item" href="{% url 'listar-instituicoes' %}">Instituição</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-turmas' %}">Turma</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'listar-questionarios' %}">Questionário</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-questoes' %}">Questão</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-opcoes' %}">Opção</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'listar-tentativas' %}">Tentativa</a></li>
                                {% if not request.user.groups.all.0.name == 'Aluno'  %}
                                <li><a class="dropdown-item" href="{% url 'listar-testes' %}">Teste</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'listar-alunos' %}">Alunos</a></li>
                                {% if request.user.groups.all.0.name == 'Administrador'  %}
                                <li><a class="dropdown-item" href="{% url 'listar-professores' %}">Professores</a></li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link color-custom-primary-hover" href="{% url 'sobre' %}" id="sobre">
                                Sobre
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if not request.user.groups.all.0.name == 'Aluno'  %}
                            <li class="nav-item">
                                <a class="nav-link color-custom-primary-hover" href="{% url 'relatorios' %}" id="relatorio">
                                    Relatório
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link color-custom-primary-hover" href="{% url 'quem-somos' %}" id="quemSomos">
                                Quem somos
                            </a>
                        </li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                <ul class="quiz-nav navbar-nav color-custom-primary border-custom-primary">
                    <li class="nav-item">
                        <a class="nav-link color-custom-primary" href="{% url 'iniciar-teste' %}" style="font-size: 0.9rem;">
                            Fazer teste
                        </a>
                    </li>
                </ul>
                {% endif %}

                <ul class="login-nav navbar-nav bg-color-custom-primary" style="margin: 0 25px!important;">
                
                    <!-- para o login -->

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="username">{{ request.user.groups.all.0}}={{ request.user }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'atualizar-dados' %}">Meus dados</a></li>
                            <li><a class="dropdown-item" href="{% url 'alterar-senha' %}">Alterar Senha</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar' %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Registrar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'login' %}" style="font-size: 0.9rem;">
                            <i class="fa fa-sign-in text-light" aria-hidden="true"></i>
                            Entrar 
                        </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        {% endblock %}

        {% comment %} {% block destaque %}
        <div class="bg-secondary">
            Figuras de destaque
        </div>
        {% endblock %} {% endcomment %}


        <div class="main-content">
            {% block conteudo %}
            <h3>Templete de Modelo</h3>

            Conteúdo do Site

            {% endblock %}
        </div>


        {% block rodape %}
        <footer class="page-footer bg-color-custom-primary ">
            <div class="left">
                <div>
                    <div class="icone"><!--style="background: rgba(0, 0, 0, 0);" Fundo sem cor-->
                        <img src="{% static 'img/L-StyleLogotipo.png' %}" width="100%" class="img-cover"> <!--Definir Imagens Logo L-Styles-->
                    </div>
                    <p>@L styles 2021</p>
                </div>
                <div>
                    <div class="icone" style="background: rgba(0, 0, 0, 0);">
                        <img src="{% static 'img/utfpr_logo.png' %}" width="100%" class="img-cover"> <!--Definir Imagens Logo UTFPR-->
                    </div>
                    <p>UTFPR 2021</p>
                </div>
            </div>
            <div class="right">
                <div class="column">
                    <h4>Referencias</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Legal</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Contato</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Acesso rapido</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/menu.js' %}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>

        <!-- bloco de scripts -->
        {% block scripts %}

        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/SetChart.js' %}"></script>
        <script src="{% static 'js/setTestemonial.js' %}"></script> <!-- Script dos Comentarios-->


        {% endblock %}



    </div>
</body>

</html>