{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Roberto Rocha">

    {% block titulo %}
    <title>Teste de Kolb</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/questionario.css' %}">
    <link rel="stylesheet" href="{% static 'css/quemSomos.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />

</head>

<body>

    <!-- Bloco com o menu principal -->
    {% block menu %}
    <div class="menu">
        <nav class="main-menu navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 h-100">
                        <!-- para o menu -->
                        <li class="nav-item nav-item-active ">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">
                                Home 
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'iniciar-teste' %}">
                                Faça o teste
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if not request.user.groups.all.0.name == 'Aluno'  %}
                                <li><a class="dropdown-item" href="{% url 'listar-instituicoes' %}">Instituição</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-turmas' %}">Turma</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'listar-questionarios' %}">Questionário</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-questoes' %}">Questão</a></li>
                                <li><a class="dropdown-item" href="{% url 'listar-opcoes' %}">Opção</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'listar-tentativas' %}">Tentativa</a></li>
                                {% if not request.user.groups.all.0.name == 'Aluno'  %}
                                <li><a class="dropdown-item" href="{% url 'listar-testes' %}">Teste</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'listar-alunos' %}">Alunos</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre' %}">
                                Sobre
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if not request.user.groups.all.0.name == 'Aluno'  %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'relatorios' %}">
                                    Relatório
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quem-somos' %}">
                                Quem somos
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="login-nav navbar-nav bg-color-custom-primary">
                    <!-- para o login -->

                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="username">{{ request.user.groups.all.0}}={{ request.user }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'atualizar-dados' %}">Meus dados</a></li>
                            <li><a class="dropdown-item" href="{% url 'alterar-senha' %}">Alterar Senha</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar' %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Registrar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'login' %}" style="font-size: 0.9rem;">
                            <i class="fa fa-sign-in text-light" aria-hidden="true"></i>
                            Entrar
                        </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
        {% endblock %}

        {% comment %} {% block destaque %}
        <div class="bg-secondary">
            Figuras de destaque
        </div>
        {% endblock %} {% endcomment %}


        <div class="main-content">
            {% block conteudo %}
            <h3>Templete de Modelo</h3>

            Conteúdo do Site

            {% endblock %}
        </div>


        {% block rodape %}
        <footer class="page-footer bg-color-custom-primary ">
            <div class="left">
                <div>
                    <div class="icone">
                        icone
                    </div>
                    <p>@L styles 2021</p>
                </div>
                <div>
                    <div class="icone">
                        icone
                    </div>
                    <p>UTFPR 2021</p>
                </div>
            </div>
            <div class="right">
                <div class="column">
                    <h4>Referencias</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Legal</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Contato</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Acesso rapido</h4>
                    <ul>
                        <li>Acesso 1</li>
                        <li>Acesso 2</li>
                        <li>Acesso 3</li>
                        <li>Acesso 4</li>
                    </ul>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>

        <!-- bloco de scripts -->
        {% block scripts %}
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/SetChart.js' %}"></script>


        {% endblock %}



    </div>

</html>