{% extends 'modelo.html' %} {% load static %}
{% block conteudo %}
<div class="about">
  <aside>
    <h1 class="border-custom-primary">Quem somos</h1>
    <p>
      Somos do curso de Ciência da Computação da instituição da UTFPR campus Santa Helena PR. 
      Através deste projeto, temos como meta destacar a importância de conhecer, compreender e empregar os estilos estão ligados ao desejo 
      de facilitar a aprendizagem do estudante no contexto atual relacionado principalmente 
      ao ensino remoto. Este trabalho não tem por objetivo medir os estilos de cada indivíduo
      ou rotulá-los de forma estática, mas sim identificar por meio de um software automatizado 
      o estilo de maior predominância na forma como cada indivíduo aprende, com a utilização 
      do método de Kolb.  
    </p>
  </aside>
  <section class="time">
    <h1 class="title-hr border-custom-primary">Desenvolvedores</h1>
    <div class="row first-row">
      <div class="time-item devs-in">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/roberto.jpeg' %});"></div>
          <h2>Roberto Rocha</h2>
          <p>Graduando em Ciência da Computação</p>
        </div>
        <div class="corpo">
            Aluno da UTFPR-SH, responsável pelo projeto e desenvolvedor do L-Style. 
        </div>
        <div class="footer">
          <a href="https://linkedin.com/in/robertorochash86" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="robertorocha@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="robertorocha@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 0.8s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/brasil.png' %});"></div>
          <h2>Guilherme W S Brasil</h2>
          <p>Graduando em Ciência da Computação</p>
        </div>
        <div class="corpo">
            Aluno da UTFPR-SH, colaborou com o front-end do projeto L-Style. 
        </div>
        <div class="footer">

          <a href="https://www.linkedin.com/in/guilherme-brasil-752ab2194/" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="guilhermebrasil@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="guilhermebrasil@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 1.6s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/huff.jpeg' %});"></div>
          <h2>Guilherme Feier Huff</h2>
          <p>Graduando em Ciência da Computação</p>
        </div>
        <div class="corpo">
            Aluno da UTFPR-SH, colaborou com o front-end do projeto L-Style.
        </div>
        <div class="footer">

          <a href="https://www.linkedin.com/in/guilherme-huff-7021161b7/" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="ghuff@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="ghuff@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
    </div>
    <h1 class="title-hr border-custom-primary">Orientadores</h1>
    <div class="row second-row">
      <div class="time-item devs-in">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/giani.jpg' %});"></div>
          <h2>Giani Carla Ito</h2>
          <p>Doutora em Computação Aplicada</p>
        </div>
        <div class="corpo">
            Professora do Curso de Ciência da Computação da UTFPR-SH e orientadora do projeto L-Style. 
        </div>
        <div class="footer">

          <a href="http://lattes.cnpq.br/4727340593582933" target="_blank">
            <img src="{% static 'img/sobre/contato/lattes.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="gianiito@utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="gianiito@utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 0.8s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/dani.png' %});"></div>
          <h2>Daniela Eloise Flôr</h2>
          <p>Doutora em Computação Aplicada</p>
        </div>
        <div class="corpo">
            Professora na IFPR campus Paranavaí e Co-orientadora do projeto L-Style.
        </div>
        <div class="footer">
          <a href="http://lattes.cnpq.br/7560936930373791" target="_blank">
            <img src="{% static 'img/sobre/contato/lattes.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="daniela.flor@ifpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="daniela.flor@ifpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 1.6s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/rafael.jpeg' %});"></div>
          <h2>Rafael Henrique Dalegrave Zottesso</h2>
          <p>Mestre em Ciência da Computação</p>
        </div>
        <div class="corpo">
            Professor na IFPR campus Paranavaí e Co-orientador do projeto L-Style. 
        </div>
        <div class="footer">
          <a href="https://linkedin.com" target="_blank">
            <img src="{% static 'img/sobre/contato/lattes.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="rafael.zottesso@ifpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="rafael.zottesso@ifpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block scripts %}
<script>
  var btnEmail = document.querySelectorAll('.btnEmail');

  btnEmail.forEach((item) => {
    item.onclick = () => {
      var element = item.parentElement.parentElement.getElementsByClassName("emailBox")[0];
      var state = element.dataset.state;

      if (state == "hidden") {
        element.style.display = "flex";
        element.dataset.state = "visible";
      } else {
        element.style.display = "none";
        element.dataset.state = "hidden";
      }
    }
  });

  function copyEmail(element) {
    var email = element.dataset.email;

    if (window.clipboardData && window.clipboardData.setData) {

      element.innerHTML = '<i class="fas fa-check"></i>';
      navigator.clipboard.writeText(email);

    }else if (document.queryCommandSupported && document.queryCommandSupported("copy")){
      var textarea = document.createElement("textarea");
      textarea.textContent = email;
      textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
      document.body.appendChild(textarea);
      textarea.select();
      element.innerHTML = '<i class="fas fa-check"></i>';
      try {
          return document.execCommand("copy");  // Security exception may be thrown by some browsers.
      }
      catch (ex) {
          console.warn("Copy to clipboard failed.", ex);
          return false;
      }
      finally {
          document.body.removeChild(textarea);
      }
    }
  }
  document.getElementById('quemSomos').classList.add("color-custom-primary");
</script>
{% endblock %}
