{% extends 'modelo.html' %} {% load static %} {% block titulo %}
<title>Quem somos</title>
{% endblock %} {% block conteudo %}
<div class="about">
  <aside>
    <h1 class="border-custom-primary">Quem somos</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat
      mauris non ipsum egestas, vitae commodo lorem lobortis. Morbi eget arcu
      commodo, egestas velit eget, dictum mi. Ut interdum odio ante. Suspendisse
      quis enim sit amet dui lacinia gravida condimentum in est. Nullam lacinia
      eleifend mattis. In feugiat ligula metus, et pharetra turpis semper eget.
      Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
      sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Nullam consequat mauris non ipsum
    </p>
  </aside>
  <section class="time">
    <h1 class="title-hr border-custom-primary">Desenvolvedores</h1>
    <div class="row first-row">
      <div class="time-item devs-in">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/roberto.jpeg' %});"></div>
          <h2>Roberto</h2>
          <p>Graduando em ciência da computação</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">
          <a href="https://linkedin.com/in/robertorochash86" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="robertorocha@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="robertorocha@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 0.8s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/brasil.png' %});"></div>
          <h2>Guilherme W S Brasil</h2>
          <p>Graduando em ciência da computação</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">

          <a href="https://www.linkedin.com/in/guilherme-brasil-752ab2194/" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="guilhermebrasil@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="guilhermebrasil@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 1.6s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/huff.jpeg' %});"></div>
          <h2>Guilherme Feier Huff</h2>
          <p>Graduando em ciência da computação</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">

          <a href="https://www.linkedin.com/in/guilherme-huff-7021161b7/" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="ghuff@alunos.utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="ghuff@alunos.utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
    </div>
    <h1 class="title-hr border-custom-primary">Orientadores</h1>
    <div class="row second-row">
      <div class="time-item devs-in">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/giani.jpg' %});"></div>
          <h2>Giani Carla Ito</h2>
          <p>Doutora em Computação Aplicada</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">

          <a href="https://www.linkedin.com/in/giani-ito-505b944/" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="gianiito@utfpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="gianiito@utfpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 0.8s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/dani.png' %});"></div>
          <h2>Daniela Eloise Flôr</h2>
          <p>Doutora em Computação Aplicada</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">
          <a href="https://linkedin.com" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="daniela.flor@ifpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="daniela.flor@ifpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
      <div class="time-item devs-in" style="animation-delay: 1.6s;">
        <div class="top">
          <div class="hr"></div>
          <div class="img" style="background-image: url({% static 'img/sobre/time/rafael.jpeg' %});"></div>
          <h2>Rafael Henrique Dalegrave Zottesso</h2>
          <p>Mestre em Ciência da Computação</p>
        </div>
        <div class="corpo">
          metus, et pharetra turpis semper eget.
          Quisque est nulla, posuere ac molestie nec, pharetra non felis. Aliquam
          sit amet nunc ligula. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nullam consequat mauris non ipsum
        </div>
        <div class="footer">
          <a href="https://linkedin.com" target="_blank">
            <img src="{% static 'img/sobre/contato/linkedin.png' %}" />
          </a>
          <img src="{% static 'img/sobre/contato/gmail.png' %}" class="btnEmail" />
        </div>
        <div class="emailBox" data-state="hidden">
          <input type="text" value="rafael.zottesso@ifpr.edu.br" readonly>
          <button onclick="copyEmail(this)" data-email="rafael.zottesso@ifpr.edu.br"><i class="fas fa-copy"></i></button>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block scripts %}
<script>
  var btnEmail = document.querySelectorAll('.btnEmail');

  btnEmail.forEach((item) => {
    item.onclick = () => {
      var element = item.parentElement.parentElement.getElementsByClassName("emailBox")[0];
      var state = element.dataset.state;

      if (state == "hidden") {
        element.style.display = "flex";
        element.dataset.state = "visible";
      } else {
        element.style.display = "none";
        element.dataset.state = "hidden";
      }
    }
  });

  function copyEmail(element) {
    var email = element.dataset.email;

    element.innerHTML = '<i class="fas fa-check"></i>';
    navigator.clipboard.writeText(email);
  }
  document.getElementById('quemSomos').classList.add("color-custom-primary");
</script>
{% endblock %}