{% extends 'modelo.html' %} {% load static %} {% block titulo %}
<title>Sobre o Projeto</title>
{% endblock %} {% block conteudo %}
<section class="aboutThis">
  <div class="top">
    <div class="item border-custom-primary-color">
      <h1 class="color-custom-primary">NOSSO OBJETIVO</h1>
      <p>
        Ser uma plataforma personalizada para a aplicação do método de Kolb. Ter
        a interação professor-aluno, e possuir cadastro pessoal dos
        participantes.<br> O professor tem acesso a um relatório com os estilos
        pertinentes a cada um dos alunos. Isto possibilita que o docente possa
        personalizar sua prática pedagógica e gerar as melhores formas de
        ensinar e aprender de acordo com cada aluno.<br>O professor pode produzir
        um relatório dos alunos nos formatos pdf ou doc, e enviar os resultados
        por e-mails. O discente pode compartilhar o resultado do teste em redes
        sociais, por e-mail, imprimir e gerar em pdf ou doc.
      </p>
    </div>
    <div class="item border-custom-primary-color">
      <h1 class="color-custom-primary">O QUE É METODOLOGIA DE KOLB</h1>
      <p>
        David A. Kolb em 1984, elaborou um modelo de estudo baseado nas suas próprias experiências, chamado de Teoria da Aprendizagem Experiencial (ELT). Um modelo que utiliza a experiência como o centro do aprendizado em um modelo de ciclo. Seria um conceito de que a aprendizagem é construída a partir de experiências vividas, que ocorre ao longo da vida, por meio do conhecimento que o indivíduo acumulou em determinados momentos.<br>

        Para Kolb, aprender é o processo pelo qual o conhecimento é criado por meio da transformação da experiência. O conhecimento resulta da combinação de compreensão e vivência do entendimento de cada indivíduo.<br>

        O estudo apresenta o modelo de aprendizagem e o instrumento de identificação de estilos de aprendizagem com foco em adultos ou universitários.
      </p>
    </div>
  </div>
  <div class="body bg-color-custom-primary-gradient">
    <div class="left">
        <h1>Estilos de aprendizagem</h1>
        <p>Os estilos de aprendizagem são maneiras que as pessoas utilizam para aprender (DANTAS, 2021). Kalatzis (2008) afirma que cada pessoa tem formas diferentes de aprendizado, tais como, aprender e guardar informações. Seja por fatores hereditários, experiências ou exigências do ambiente em que cada pessoa vive, ou sendo influenciada a forma como ela aprimora suas habilidades.<br>

        Também, cabe ressaltar que não há melhor ou pior forma de ensinar, mas sim uma possível adaptação do estilo adequado para que se obtenha uma boa experiência.</p>
    </div>
    <div class="right">
      <div class="item">
        <div class="icon">
          <i class="fas fa-brain"></i>
        </div>
        <h2>Divergente</h2>
        <p>Estilo que aborda principalmente a criatividade do indivíduo no qual emprega sua imaginação gerando assim novas ideias, dúvidas e discussões tornando prazeroso o ato de buscar várias maneiras de aprender. São pessoas reflexivas, criativas.</p>
      </div>
      <div class="item">
        <div class="icon">
          <i class="fas fa-brain"></i>
        </div>
        <h2>Assimilador</h2>
        <p>Pessoas que desenvolvem modelos teóricos e raciocínio, dedução não focando apenas no uso prático de teoria. Ou seja, são pessoas mais teóricas, conceituais. </p>
      </div>
      <div class="item">
        <div class="icon">
          <i class="fas fa-brain"></i>
        </div>
        <h2>Convergente</h2>
        <p>São aqueles práticos dedicados a resolver problemas usando como ferramenta o raciocínio dedutivo, gostam de usar um passo a passo, um plano estrutural. Ou seja, são pessoas estruturais, sequenciais.</p>
      </div>
      <div class="item">
        <div class="icon">
          <i class="fas fa-brain"></i>
        </div>
        <h2>Acomodador</h2>
        <p>Os que assumem riscos resolvendo problemas abordados, aplicando a intuição no processo de aprendizagem com tentativas e erros. Ou seja, são pessoas mais práticas, vivenciais.</p>
      </div>
    </div>
    <div class="float-card">
      <div class="img">
        <img src="https://professor.escoladigital.pr.gov.br/sites/professores/arquivos_restritos/files/styles/responsivo_large/public/imagem/2019-11/ciclo_aprendizagem_kolb.webp?itok=ui8gOonS" alt="Figura 1: O Ciclo Experiencial de Kolb">
        <figcaption>Figura 1: O Ciclo Experiencial de Kolb<br><b>Fonte:</b> Escola Digital Professor, 2019. </figcaption>
      </div>
      <div class="text">
        <div class="block">
          <h2>Ciclo de aprendizagem</h2>
          <p>No modelo experiencial o indivíduo retrata dois modos opostos com cada eixo. A forma de perceber uma informação relaciona-se com a experiência concreta (EC) que é o sentir, e a conceituação abstrata (CA) que é o pensar, enquanto a forma de processar a informação relaciona-se com a experimentação ativa (EA) que é o fazer, e a observação reflexiva (OR) que é o observar. Portanto, este processo é um ciclo de aprendizagem onde o aluno passa pelos quatros elementos em um processo recursivo ao longo da aprendizagem, para poder criar novas experiências. Segundo Kolb, o ciclo acontece vivenciando (EC), refletindo (OR), pensando (CA) e agindo (EA).
          </p>
        </div>
        <div class="block">
          <h2>Como funciona o metodo de kolb</h2>
          <p>
            O questionário possui 12 questões a serem respondidas. Cada pergunta com 4 respostas, sendo cada resposta com valores de 1 a 4 de forma crescente de acordo com a sua afinidade.

            Após o questionário ser respondido pelo aluno, são feitos os cálculos para definir a cada classificação do ciclo experimental; Onde são classificados em: Experiência Concreta (EC),Observação Reflexiva (OR), Conceituação Abstrato (CA), Experimentação Ativa (EA).

            Então os resultados são aplicados ao grafico para mapear o modelo do ciclo de aprendizagem, e então calcula-se com base nos dados o estilo de apendizagem predominante.
          </p>
			 
																																
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
     <div class="item">
      <h1 class="color-custom-primary border-custom-primary-color">Importante ressaltar</h1>
      <p>
        Os estilos de aprendizagem propostos por Kolb não têm por objetivo rotular 
        a maneira que cada pessoa aprende, mas sim, identificar o estilo predominante 
        na forma de cada um aprender e, com isso, desenvolver os outros estilos não 
        explorados e propor atividades com metodologias inovadoras de acordo com cada
         possibilidade de aprendizagem.
      </p>
    </div>
    <div class="item">
      <h1 class="color-custom-primary border-custom-primary-color">Contribuição</h1>																																																  
			
      <p>
        Este site busca trazer novas formas de ensinar, e de 
        aprender, com métodos efetivos por meio de uma aplicação concreta 
        e investigativa, assim identificando o estilo de aprendizagem de 
        cada aluno. Com isso o professor poderá escolher a técnica de ensino 
        que mais será efetiva em seu ambiente de aula, despertando novas metodologias
         e aperfeiçoando técnicas pedagógicas, e tornando ainda mais eficazes os 
         métodos aplicados.
																																																														   
      </p>
    </div>
  </div>
</section>


{% endblock %} {% block scripts %}
<script>
  document.getElementById("sobre").classList.add("color-custom-primary");
</script>
{% endblock %}
