{% extends 'modelo.html' %}

{% load static %}

{% block titulo %}
<title>Sobre o Projeto</title>
{% endblock %}

{% block conteudo %}
    <header>
        <h1>Modelo de Kolb</h1>
        <h3>Criado por David Kolb</h3>
    </header>
    <div id="estilos-de-aprendizagem">
        <h3>Estilos de Aprendizagem</h3>
        <h5>Divergente</h5>
            <P> 
                Estilo que aborda principalmente a criatividade do indivíduo no qual emprega
                sua imaginação gerando assim novas ideias, dúvidas e discussões tornando
                prazeroso o ato de buscar várias maneiras de aprender. São pessoas reflexivas, 
                criativas. 
            </P>
        <h5>Convergente</h5>
            <p>
                São aqueles práticos dedicados a resolver problemas usando como ferramenta 
                o raciocínio dedutivo, gostam de usar um passo a passo, um plano estrutural. 
                Ou seja, são pessoas estruturais, sequenciais.
            </p>
        <h5>Assimilador</h5>
            <p>
                Pessoas que desenvolvem modelos teóricos e raciocínio, dedução não focando
                apenas no uso prático de teoria. Ou seja, são pessoas mais teóricas, conceituais.  
            </p>
        <h5>Acomodador</h5>
            <p>
                Os que assumem riscos resolvendo problemas abordados, aplicando a intuição no 
                processo de aprendizagem com tentativas e erros. Ou seja, são pessoas mais
                práticas, vivenciais.  
            </p>
    </div>
    <div id="ferramenta">
        <h3>Ferramenta utilizada</h3>
        <p>
            Inventário de Estilo de Aprendizagem de Kolb (LSI)
        </p>
    </div>
    <div id="descricao">
        <h3>Descrição sobre o Inventário</h3>
        <p>
            São 12 perguntas, cada uma com quatro campos de resposta e com números de 1 a 4, 
            por grau de preferência, em que se identifica só um estilo a partir de um 
            gráfico.
        </p>
    </div>
    <div id="base-teorica">
        <h3>Base Teórica</h3>
        <p>Modelo Experiencial</p>
        
    </div>
    

{% endblock %}