{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
    <h3>Lista de instituições de ensino registrados</h3>
    <a href="{% url 'cadastrar-instituicao' %}" class="btn btn-primary btn-sm">Adicionar Instituição</a>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Opções</th>
            </tr>

            {% for instituicao in object_list %}
            <tr>
                <td>{{ instituicao.nome }}</td>
                <td>{{ instituicao.endereco }}</td>
                <td>
                    <a href="{% url 'editar-instituicao' instituicao.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-instituicao' instituicao.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    
                </td>
            </tr>
            {% empty %}
            <td colspan="3">Nenhuma Instituição de ensino registrada.</td>
            {% endfor %}
        </table>
    </div>

    

{% endblock %}

