{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="lista">
    <div class="tableHead">
        <h3>Lista de turmas registradas</h3>
        <a href="{% url 'cadastrar-turma' %}" class="btn btn-primary btn-sm">Adicionar Turma</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Período \ Ano</tr>
                    <th>Ano</th>
                    <th>Curso</th>
                    <th>Turno</th>
                    <th>Instituição</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in object_list %}
                <tr>
                    <td>{{ turma.nome }}</td>
                    <td>{{ turma.periodo }}</td>
                    <td>{{ turma.ano }}</td>
                    <td>{{ turma.curso }}</td>
                    <td>{{ turma.turno }}</td>
                    <td>{{ turma.instituicao }}</td>
                    <td>
                        <a href="{% url 'editar-turma' turma.pk %}" class="btn btn-table btn-sm" title="Editar">
                            <i class="fa fa-pencil text-warning" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'excluir-turma' turma.pk %}" class="btn btn-table btn-sm" title="Excluir">
                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>
                {% empty %}
                <td colspan="3">Nenhuma turma registrada.</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $('#tabela-listar').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 50,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
</script>

{% endblock %}