{% extends 'modelo.html' %}

{% load static %}

{% block conteudo %}
    <h3>Lista de turmas registrados</h3>
    <a href="{% url 'cadastrar-turma' %}" class="btn btn-primary btn-sm">Adicionar Turma</a>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>RA</th>
                <th>Período</th>
                <th>Ano</th>
                <th>Curso</th>
                <th>Turno</th>
                <th>Instituição</th>
                <th>Opções</th>
            </tr>

            {% for turma in object_list %}
            <tr>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.ra }}</td>
                <td>{{ turma.periodo }}</td>
                <td>{{ turma.ano }}</td>
                <td>{{ turma.curso }}</td>
                <td>{{ turma.turno }}</td>
                <td>
                    <a href="{% url 'editar-turma' turma.pk %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-turma' turma.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    
                </td>
            </tr>
            {% empty %}
            <td colspan="3">Nenhuma turma registrada.</td>
            {% endfor %}
        </table>
    </div>

    

{% endblock %}